/* common styles  */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 1600px;
  background: #fff;
}

/* header section styles  */
.hero {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/banner.png") center no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  font-family: "Merriweather", serif;
  text-align: center;
  color: #fff;
  margin: 50px 140px;
}
.hero-title {
  font-size: 32px;
  font-weight: 400;
  padding: 177px 530px 0px 530px;
  margin-bottom: 20px;
}
.hero-description {
  /* width: 632px; */
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding: 0px 344px 177px 344px;
}

/* special offer section styles  */
#special-offer {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.offer-rate {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 48px;
}
.holiday-offer {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.offer-categories {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 48px;
}

/* celebration section styles  */
#celebration {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/vector.png");
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 50px 140px;
}

.celebration-content {
  display: flex;
  justify-content: space-around;
}
.welcome-title {
  width: 742px;
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding: 126px 0px 0px 136px;
  margin-bottom: 24px;
}
.welcome-message {
  width: 797px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding: 0px 0px 0px 136px;
  margin-bottom: 48px;
}

#celebration a {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 580px 142px 158px;
}
.celebration-img {
  padding: 80px 100px 0 0;
}
#celebration-schedule {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #070211;
  margin: 50px 140px;
}

.schedule {
  padding: 100px 0px 0px 0px;
  margin-bottom: 64px;
}
#celebration-schedule h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
#celebration-schedule h3 span {
  color: #f00;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.btn-primary {
  background: #f00;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
}

/* new-year-offer section styles  */

#new-year-offer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  background: #fff;
  width: 1320px;
  height: 600px;
  margin: 50px 140px;
}

.best-offer h4 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.best-offer h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.best-offer p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.new-year-offer-img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 15px solid #f00;
  padding: 20px;
  text-align: center;
}

.new-year h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.new-year p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

/* holidy sales styles  */

#holiday-sales {
  background: #fff;
  width: 1320px;
  height: 1050px;
  margin: 50px 140px;
  text-align: center;
}

#holiday-sales h4 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

#holiday-sales h3 {
  color: #f00;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 20px;
}

#holiday-sales h3 span {
  color: #070211;
}

#holiday-sales p {
  width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 20px 100px;
}

.holiday-images {
  width: 1320px;
  height: 700px;
  position: relative;
}

.holiday-images .img-1 {
  position: absolute;
  bottom: 290px;
  right: 260px;
  z-index: 1;
}
.holiday-images .img-2 {
  position: absolute;
  bottom: 229px;
  right: 0;
}
.holiday-images .img-3 {
  width: 450px;
  height: 450px;
  position: absolute;
  bottom: 50px;
  left: 158px;
  z-index: 1;
}
.holiday-images .img-4 {
  width: 1320px;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* bset gifts section styles  */
#best-gifts {
  background: #fff;
  width: 1320px;
  height: 1200px;
  margin: 50px 140px;
}

#best-gifts h4 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

#best-gifts h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}

#best-gifts p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.gift-images {
  cursor: pointer;
  opacity: 1;
}
.gift-images .img-1:hover {
  opacity: 0.8;
}
.gift-images .img-2:hover {
  opacity: 0.75;
}
.gift-images .img-3:hover {
  opacity: 0.7;
}
.gift-images .img-4:hover {
  opacity: 0.65;
}
.gift-images .img-5:hover {
  opacity: 0.6;
}
.gift-images .img-6:hover {
  opacity: 0.55;
}
/* subscribe section styles  */

#subscribe {
  width: 1320px;
  height: 600px;
  margin: 50px 140px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
}
#subscribe img {
  padding: 80px 0 40px 0;
}

#subscribe h3 {
  color: #070211;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

#subscribe p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-left: 150px;
  margin-bottom: 48px;
}

#subscribe input {
  border-radius: 50px;
  background: #fff;
  padding: 25px 477px 25px 30px;
  border: none;
  width: 648px;
  height: 72px;
}

#subscribe button {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  margin-left: -50px;
}

/* footer section styles  */

#footer {
  width: 1600px;
  height: 609px;
  background: #070211;
  text-align: center;
}

.location {
  display: flex;
  justify-content: space-between;
  padding: 120px 140px;
}

.address p {
  width: 375px;
  height: 80px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
.contact .phone {
  display: flex;
}
.contact img {
  /* width: 24px;
  height: 24px; */
  margin-right: 10px;
}
.contact p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.contact .website {
  display: flex;
  justify-content: space-between;
}
.website img {
  /* width: 24px;
  height: 24px; */
  margin-right: 10px;
}
.website p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.social-links {
  padding-bottom: 120px;
}

.copy-right {
  display: flex;
  justify-content: space-between;
  padding: 0px 140px 120px 140px;
}

.copy-right p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
